
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}¡Bienvenido!{{name}}{% endblock %}</title>
        <!-- Bootstrap core CSS -->
        <link href="#" rel="stylesheet">
        <!-- Custom styles for this template -->
        <link href="#" rel="stylesheet">
        {% block stylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="#" />
    </head>
    <body>
        {% block body %}
        {% endblock %}

        {% block footer %}
        {% endblock %}
        
        <!-- Bootstrap core JavaScript -->
        <script src="#"></script>
        <script src="#"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
